.back{
  color: #555555;
}
.woman{ 
  color: #003366;
}
.coat{
  color: #111111;
}
.zero{
  color: #000000;
}
.price{
  color: #0066cc;
  font-size: 24px;
}
.nameinfo{
  font-size: 14px;
}
.info{
  color: #333366;
}
.description{
  color: #666666;
}
.sml{
  font-size: 12px;
}
.clear{
  color: #663333;
}
.select{
  font-size: 13px;
  color: rgb(17, 17, 17, 0.6)
} 
.cart{
  background: #111111;
  color: #ffffff
}
.wishlist{
  background: #ffffff;
  border: 1px solid #e1e1e1;
}
.big{
  text-transform: uppercase;
}
.size{
  font-size: 24px;
}